{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('checkout') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('checkout') }}
{% endblock %}

{% block title %}Payment Failure{% endblock %}

{% block body %}
	<h1>We are sorry but the payment failed...</h2>
    <p>
		Go back to the
		<a href="{{ path('home') }}">shop page</a>
	</p>
{% endblock %}