{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block body %}
	<h2>Thanks for your order!</h2>
	<p>
		Go back to the
		<a href="{{ path('home') }}">shop page</a>
	</p>
{% endblock %}
